* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(CSSBG2.jpg);
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    height: auto 100vh;
    font-size: 10px;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 20px;
    }
}

header {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: #252525;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 25px;
}

.menu a:hover {
    background-color: #111111;
    color: #008888;
    transition: background-color 1s,color 1s;
}

a {
    color: white;
    text-decoration: none;
    border-radius: 10%;
}

a:hover {
    text-decoration: underline;
}

.site-title {
    padding: 2em;
    animation: linear 0.5s animTitulo infinite;
}

@keyframes animTitulo {
    0% {
        font-family: 'Abril Fatface', cursive;
    }
    33% {
        font-family: 'Indie Flower', cursive;
    }
    66% {
        font-family: 'Dancing Script', cursive;
    }
    100% {
        font-family: 'Abril Fatface', cursive;
    }
}

.site-subtitle,
.site-title {
    text-align: center;
}

.site-title {
    font-size: 4em;
    line-height: 1em;
}


.site-subtitle {
    font-family: 'Press Start 2P', cursive;
    line-height: 2em;
    text-align: center;
}

.site-text {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
}

.contato,
.portfolio {
    padding: 2em;
    padding-top: 5em;
}

.contato h2,
.portfolio h2 {
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    margin-bottom: 1em;
    font-size: 2em;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    color: turquoise ;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: repeat(2, 240px);
    }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        justify-content: center;
    }
}

.portfolio figure,
.portfolio figcaption {
    text-align: center;
}

.portfolio figcaption {
    color: #00eeee;
    padding: 2em;
}


.img-portfolio {
    width: 180px;
    height: 240px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: #004444 20px 20px 20px;
    transform: scale(1);
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.1);
}

.contato .icons {
    text-align:center;
}

.contato a {
    color: whitesmoke;
    font-size: 8em;
    text-shadow:15px 15px 15px #002222;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow:0px 0px 10px rgba(255,255,255,.5);
}